* {
  box-sizing: border-box;
}
.cards-row {
  display: flex;
  flex-direction: row;
}
.margin-card {
  margin: 10px;
}
.rating {
  font-weight: bold;
}
.imageflex {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
